.button {
   text-align: center;
}

.button--radial {
    background: radial-gradient(circle at 30% 30%, rgba(255,255,255,0.3), transparent 60%), radial-gradient(circle at 70% 70%, rgba(0,0,0,0.2), transparent 70%), var(--color-primary);
    background-blend-mode: overlay;
        border: none;
    width: fit-content;
    border-radius: 12px;
    text-align: center;
}

.button--radial .elementor-button {
    padding: 1rem;
}


.button--radial--bordered {

}

.button--bordered {

}

.section-heading {

}

.section__heading h2 {
    line-height: 2.6rem !important;
    font-size: 1.8rem !important;
}

.section-heading--dark {

}

.section-heading--light {

}

.body-text {

}

.image-container {

}

.text-with-button {

}