.about-duo {
    gap: 64px;
    padding: 0;
}

.about-duo .duo-feature__content-container {
    gap: 64px;
}

.about-duo .duo-feature__content-block {
    align-self: center;
    max-width: 80%;
}

.about-duo .duo-feature__action-container {
    align-items: flex-end;
}

.about-duo .duo-feature__button {
    align-self: flex-end;
}

.about-duo .duo-feature__supporting-image, .duo-feature__primary-image {
    max-width: 360px !important;
}


@media (min-width: 800px) {
    
    .duo-feature__body--thai p {
        max-width: 600px;
    }
    
    .about-duo {
        justify-self: center;
        width: 90%;
        flex-wrap: nowrap;
        gap: 2rem;
    }
    
    .about-duo .duo-feature__content-container {
        gap: 48px;
        margin-left: 0;
    }
    
    .about-duo .duo-feature__media-container {
        margin-right: 2rem;
        min-width: 24vw;
    }
    
    .about-duo .duo-feature__content-block {
        margin-top: 16%;
    }
    
    .about-duo .duo-feature__action-container {
        align-self: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        justify-content: start;
        margin-left: 20%;
    }
    
    .about-duo .duo-feature__button {
        height: fit-content;
        display: inline-flex;
        justify-content: center;
        white-space: nowrap;
        width: fit-content;
    }
    
    .about-duo .duo-feature__supporting-image {
        padding-top: 0;
    }
    
    .duo-feature__primary-image {
        width: 100%;
        aspect-ratio: 3/3.5;
        overflow: hidden;
    }
    
    .about-duo .duo-feature__supporting-image  {
        width: 70%;
        aspect-ratio: 4/3.6;
        overflow: hidden;
    }
    
    .about-duo .duo-feature__supporting-image, .duo-feature__primary-image {
        max-width: auto;
    }
    
    .about-duo .duo-feature__supporting-image img, .duo-feature__primary-image img {
            max-width: 400px;
            max-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
    }
}