/* about page */

/* duo-feature */

 .about-duo {
    gap: 64px;
    padding: 0;
}

.about-duo .duo-feature__content-container {
    gap: 64px;
}

.about-duo .duo-feature__content-block {
    align-self: center;
    max-width: 80%;
}

.about-duo .duo-feature__action-container {
    align-items: flex-end;
}

.about-duo .duo-feature__button {
    align-self: flex-end;
}

.about-duo .duo-feature__supporting-image, .duo-feature__primary-image {
    max-width: 360px !important;
}


@media (min-width: 800px) {
    
    .about-duo {
        justify-self: center;
        width: 90%;
        flex-wrap: nowrap;
        gap: 2rem;
    }
    
    .about-duo .duo-feature__content-container {
        gap: 48px;
        margin-left: 0;
    }
    
    .about-duo .duo-feature__media-container {
        margin-right: 2rem;
        min-width: 24vw;
    }
    
    .about-duo .duo-feature__content-block {
        margin-top: 16%;
    }
    
    .about-duo .duo-feature__action-container {
        align-self: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        justify-content: start;
        margin-left: 20%;
    }
    
    .about-duo .duo-feature__button {
        height: fit-content;
        display: inline-flex;
        justify-content: center;
        white-space: nowrap;
        width: fit-content;
    }
    
    .about-duo .duo-feature__supporting-image {
        padding-top: 0;
    }
    
    .duo-feature__primary-image {
        width: 100%;
        aspect-ratio: 3/3.5;
        overflow: hidden;
    }
    
    .about-duo .duo-feature__supporting-image  {
        width: 70%;
        aspect-ratio: 4/3.6;
        overflow: hidden;
    }
    
    .about-duo .duo-feature__supporting-image, .duo-feature__primary-image {
        max-width: auto;
    }
    
    .about-duo .duo-feature__supporting-image img, .duo-feature__primary-image img {
            max-width: 400px;
            max-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
    }
}

/* centered-feature */

.centered-feature {
    gap: 0;
    align-self: center;
    
}

.centered-feature__title {
    letter-spacing: 0.2rem;
    font-family: Poppins;
    font-weight: 600;
}

.centered-feature__html-grid {
    position: relative;
    overflow: visible;
    aspect-ratio: 4 / 4.3;
    max-height: 390px;
    height: auto;
    width: 70vw;
    max-width: 448px;
    margin-left: clamp(10vw, 15%, 15vw);
    justify-self: center;
}

.centered-feature__html-grid img {
    position: absolute;
    display: block;
    height: auto;
    object-fit: cover;
}

.centered-feature__html-grid .centered-feature__frame {
    padding: 1.2rem 0 0 1.6rem;
    position: absolute;
    min-width: 250px;
    width: 70vw;
    max-width: 360px !important;
    height: auto;
    aspect-ratio: 4 / 3.4;
    z-index: 1;
    background-color: var(--primary-color);
    left: clamp(-20px, -5vw, -40px);
    max-width: 480px;
}

.centered-feature__html-grid .centered-feature__image {
    width: 70vw;
    max-width: 360px !important;
    height: auto;
    aspect-ratio: 4 / 3.4;
    top: clamp(60px, 10vw, 80px);
    left: clamp(20px, 5vw, 40px);
    z-index: 2;
}

.centered-feature__title {
    color: var(--txt-color);
}

.centered-feature__content-container {
    padding-top: 32px;
    max-width: 600px;
}

@media (max-width: 400px) {
    .centered-feature__html-grid .centered-feature__frame {
        margin-left: 1rem;
    }
}

@media (max-width: 660px) {
    .centered-feature__title--thai {
        font-size: 22px;
    }
}

@media (min-width: 800px) {
    
    .centered-feature__html-grid {
        width: 100%;
        margin-right: 0;
        margin-left: clamp(30vw, 35%, 45vw);
     
    }
    
    .centered-feature__content-container {
        align-self: center;
        margin-right: clamp(10vw, 15%, 15vw);
    }
    
    .centered-feature__html-grid .centered-feature__frame {

    }
    
    .centered-feature__html-grid .centered-feature__image {

    }
}

/* three-column feature */

.three-column-feature {
    gap: 64px;
    align-self: center;
    flex-direction: column !important;
}

.three-column-feature__image--col1, .three-column-feature__image--col3 {
    padding-right: 20%;
}

.three-column-feature__image--col2 {
    padding-left: 20% !important;
}

.three-column-feature__column--first, .three-column-feature__column--third  {
    padding: 0;
    align-items: start;
}

.three-column-feature__column--second {
    padding: 0;
    align-items: end;
    gap: 64px;
}

.three-column-feature__image--col1 img, .three-column-feature__image--col2 img, .three-column-feature__image--col3 img {
    max-width: 360px;
    max-height: auto;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.three-column-feature__content-container {
    align-self: center;
    max-width: 80%;
}

.three-column-feature__content-block {
    max-width: 70%;
    align-self: center;
    align-items: end;
}

@media (min-width: 800px) {
    
    .three-column-feature {
        gap: 48px;
        align-self: center;
        flex-direction: row !important;
    }
    .three-column-feature__content-container {
        align-self: center;
        max-width: 100%;
    }
    
    .three-column-feature__image--col1 {
        aspect-ratio: 3/3.2;
        height: auto;
        width: auto;
        padding: 0;
    }
    
    .three-column-feature__image--col2 {
        aspect-ratio: 3/2.8;
        height: auto;
        width: auto;
        padding: 0;
    }
    
    .three-column-feature__image--col3 {
        aspect-ratio: 3/3.2;
        height: auto;
        width: auto;
        padding: 0;
    }
    
    .three-column-feature__column--first {
        justify-content: end;
        padding: 1rem;
    }
        
    .three-column-feature__column--first img {
        padding-left: 10%;
    }
    
    .three-column-feature__column--third {

        align-items: end;
        justify-content: center;
    }
    
    .three-column-feature__column--third img {
        padding-right: 10%;
    }
    
   .three-column-feature {
        gap: 48px;
    }
    
    .three-column-feature__column--second {
        gap: 2rem;
    }
    
    .three-column-feature__content-block {
        max-width: 80%;
        align-self: end;
    }
}

@media (min-width: 1080px) {
    
    .three-column-feature {
        gap: 64px;
        
    }
    
    .three-column-feature__column--second {
        gap: 4rem;
        margin-bottom: 4rem;
    }
}