.benefit-feature {
    align-self: center;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 900px;
}

#benefit-feature__list-item--wc  {
    left: -0.2rem;
}

#benefit-feature__list-item--ac {
    left: 0.1rem;
}

#benefit-feature__list-item--desk svg {
    bottom: 0.2rem;
}

.benefit-feature__list svg {
    filter: invert(54%) sepia(53%) saturate(468%) hue-rotate(87deg) brightness(87%) contrast(91%);
}