/* Booking */

.booking-loop__carousel .swiper-slide .elementor-widget-theme-post-content figure {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 0;
}

.elementor-element-f7ed683 .swiper-slide .wp-block-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.elementor-element-f7ed683 .swiper-slide .wp-block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media (min-width: 767px) {
    .booking-loop__carousel .swiper-slide .elementor-widget-theme-post-content figure {
        aspect-ratio: 16 / 9;
    }

    .elementor-element-f7ed683 .swiper-slide .wp-block-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .elementor-element-f7ed683 .swiper-slide .wp-block-image img {
        object-fit: cover;
    }
}

.room-details {
    margin-top: 0 !important;
}

.room-details svg {
    filter: invert(54%) sepia(53%) saturate(468%) hue-rotate(87deg) brightness(87%) contrast(91%);
}

.reservation-details {
    height: fit-content;
}

.elementor form input[type="text"],
.elementor form input[type="number"],
.elementor form input[type="email"],
.elementor form input[type="tel"],
.elementor form input[type="date"],
.elementor form select,
.elementor form textarea {
  height: 2.8rem !important;
  line-height: 2.8rem !important;
  padding: 0 0.75rem !important;
  box-sizing: border-box !important;
  min-height: unset !important;
  max-height: 2.8rem !important;
}

.elementor-field-subgroup {
    gap: 0.6rem;
}

.elementor-field-option label {
    padding-left: 0.3rem;
}

.elementor-form .elementor-field-group input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1080px) {
    
    .booking-content-block {
        flex-direction: column !important;
    }
    
    .room-details {
        width: 100% !important;
    }
    
    .reservation-details {
        width: 100% !important;
        border-right: 1px solid var(--bg-color);
    }
}


@media (min-width: 1081px) {
    .room-details {
        width: 60% !important;
    }
    
    .reservation-details {
        width: 35% !important;
        min-width: 450px !important;
    }
}