.centered-feature {
    gap: 0;
    align-self: center;
    
}

.centered-feature__title {
    letter-spacing: 0.2rem;
    font-family: Poppins;
    font-weight: 600;
}

.centered-feature__html-grid {
    position: relative;
    overflow: visible;
    aspect-ratio: 4 / 4.3;
    max-height: 390px;
    height: auto;
    width: 70vw;
    max-width: 448px;
    margin-left: clamp(10vw, 15%, 15vw);
    justify-self: center;
}

.centered-feature__html-grid img {
    position: absolute;
    display: block;
    height: auto;
    object-fit: cover;
}

.centered-feature__html-grid .centered-feature__frame {
    padding: 1.2rem 0 0 1.6rem;
    position: absolute;
    min-width: 250px;
    width: 70vw;
    max-width: 360px !important;
    height: auto;
    aspect-ratio: 4 / 3.4;
    z-index: 1;
    background-color: var(--primary-color);
    left: clamp(-20px, -5vw, -40px);
    max-width: 480px;
}

.centered-feature__html-grid .centered-feature__image {
    width: 70vw;
    max-width: 360px !important;
    height: auto;
    aspect-ratio: 4 / 3.4;
    top: clamp(60px, 10vw, 80px);
    left: clamp(20px, 5vw, 40px);
    z-index: 2;
}

.centered-feature__title {
    color: var(--txt-color);
    font-family: 'Prompt';
}

.centered-feature__content-container {
    padding-top: 32px;
    max-width: 600px;
}

@media (max-width: 400px) {
    .centered-feature__html-grid .centered-feature__frame {
        margin-left: 1rem;
    }
}

@media (max-width: 660px) {
    .centered-feature__title--thai {
        font-size: 22px;
    }
}

@media (min-width: 800px) {
    
    .centered-feature__html-grid {
        width: 100%;
        margin-right: 0;
        margin-left: clamp(30vw, 35%, 45vw);
     
    }
    
    .centered-feature__content-container {
        align-self: center;
        margin-right: clamp(10vw, 15%, 15vw);
    }
}