.duo-feature {
    align-self: center;
    gap: 64px;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
}

.duo-feature__media-container {
    order: 0;
}

.duo-feature__content-block {
    gap: 1rem;
    height: fit-content;
}

.duo-feature__action-container {
    flex-direction: column;
    justify-content: flex-end;
    gap: 64px;
    flex-wrap: wrap;
    max-height: 560px;
}

.duo-feature__body {
    align-self: center;
    width: 80%;
}

.duo-feature__button {
    margin-right: 1rem;
}

.duo-feature__supporting-image, .duo-feature__primary-image {
    width: 80%;
    aspect-ratio: 3 / 3;
    overflow: hidden;
}

.duo-feature__supporting-image img, .duo-feature__primary-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
}

@media (min-width: 800px) {
    
    .duo-feature {
        width: 100%;
        flex-wrap: nowrap;
        gap: 4rem;
    }
    
    .duo-feature__content-container {
        margin-left: 4rem;
        width: auto;
        
    }
    
    .duo-feature__content-block {
        margin-top: 4rem;
        width: auto;
    }
    
    .duo-feature__media-container {
        width: 50%;
        order: 1;
    }
    
    .duo-feature__action-container {
        flex-wrap: nowrap;
        flex-direction: row;
        width: 90%;
        align-self: flex-end;
    }
    
    
    .duo-feature__button {
        flex: 0 0 auto;
        height: fit-content;
        display: inline-flex;
        justify-content: center;
        white-space: nowrap;
        width: fit-content;
    }
    
    .duo-feature__supporting-image {
        padding-top: 4rem;
        justify-items: flex-end;
    }
    
    .duo-feature__supporting-image, .duo-feature__primary-image {
        width: 100%;
        aspect-ratio: 3/4;
        overflow: hidden;
    }
    
    .duo-feature__supporting-image img, .duo-feature__primary-image img {
            max-width: 400px;
            max-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
    }
}