.five-collage {
    position: relative;
    width: 80vw;
    max-height: 80vh;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    overflow: visible;
}

.five-collage img {
    position: absolute;
    display: block;
    height: auto;
    object-fit: cover;
}

.five-collage .center {
    width: 46vw !important;
    max-height: 70%;
    top: 12%;
    left: 24%;
    z-index: 2;
}
    
.five-collage .top-left {
    width: 28vw !important;
    max-height: 40%;
    top: 0;
    left: 3%;
    z-index: 1;
}
    
.five-collage .top-right {
    width: 24vw !important;
    max-height: 40%;
    top: 4%;
    right: 5%;
    z-index: 1;
}
    
.five-collage .bottom-left {
    width: 20vw;
    bottom: 6%;
    left: 10%;
    z-index: 1;
}
    
.five-collage .bottom-right {
    width: 22vw;
    max-height: 48%;
    bottom: 0;
    right: 0%;
    z-index: 1;
}

@media (min-width: 800px) {

    .five-collage {
        width: 70vw;
        max-height: 80vh;
        aspect-ratio: 4 / 3;
        margin: 0 auto;
        overflow: visible;
    }
    
    .five-collage .center {
        width: 36vw !important;
        max-height: 70%;
        top: 12%;
        left: 27%;
        z-index: 2;
    }
    
    .five-collage .top-left {
        width: 20vw !important;
        max-height: 40%;
        top: 0;
        left: 3%;
        z-index: 1;
    }
    
    .five-collage .top-right {
        width: 20vw !important;
        max-height: 40%;
        top: 4%;
        right: 5%;
        z-index: 1;
    }
    
    .five-collage .bottom-left {
        width: 17vw;
        bottom: 6%;
        left: 10%;
        z-index: 1;
    }
    
    .five-collage .bottom-right {
        width: 20vw;
        max-height: 48%;
        bottom: 0;
        right: 0%;
        z-index: 1;
    }
}