.homepage-hero {
    max-width: 100vw !important;
}

.homepage-hero__background-image {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.homepage-hero__background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.homepage-hero__background-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.homepage-hero__heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    bottom: 36%;
}

.homepage-hero__form-container {
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    margin: 0 auto;
    width: 85%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 42px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    background: radial-gradient(circle at 20% 30%, rgba(255,255,255,0.05) 0%, transparent 80%),
              radial-gradient(circle at 80% 70%, rgba(0,0,0,0.35) 0%, transparent 80%);
              border: 1px solid rgba(255, 255, 255, 0.5);
}

.homepage-hero__form .elementor-form-fields-wrapper {
    gap: 0;
}

.homepage-hero__form .elementor-field-group {
    align-items: flex-start;
    flex: 1 1 auto;
    min-width: 0;

}

.homepage-hero__form .elementor-field-label {
    color: var(--bg-color) !important;
    padding: 0 0 0 0.8rem !important;
}

.homepage-hero__form .elementor-field {
    background-color: transparent !important;
    color: #fff !important;
    border: none;
}

.homepage-hero__form .elementor-field:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

.homepage-hero__form .e-form__buttons {
    flex: 0 0 auto;
    width: auto;
    margin: 0 !important;
}

.homepage-hero__form .e-form__buttons button {
    border-radius: 60px;
    padding: 1rem 1.4rem;
    margin: -1rem auto 1.4rem auto;
}

.elementor-field-group-arrival_date {
    padding-left: 0.4rem !important;
}

.elementor-field-group-departure_date {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(90%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media (max-width: 920px)  {
    
    .homepage-hero__heading {
        width: 70%;
        bottom: 58%;
    }
    
    .homepage-hero__form .elementor-form-fields-wrapper {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    
    .homepage-hero__form .elementor-field-label {
        font-size: 16px;
    }
    
    .homepage-hero__form .elementor-field-group-guests_number, .homepage-hero__form .e-form__buttons {
        grid-column: 1 / -1;
    }
    
    .elementor-field-group-guests_number {
        justify-self: center;
        width: 97%;
        margin: 0 !important;
    }
    
    .homepage-hero__form .elementor-field-group {
        padding-top: 1rem;
    }
    .homepage-hero__form .elementor-form-fields-wrapper {
        flex-direction: column !important;
    }
    
    .homepage-hero__form .elementor-field-group:not(.e-form__buttons) + .elementor-field-group:not(.e-form__buttons) + .elementor-field-group:not(.e-form__buttons) {
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin-left: 0;
        padding-left: 0;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    
    .elementor-field-group-departure_date, .elementor-field-group-arrival_date {
        margin-bottom: 0 !important;
    }
}


@media (min-width: 920px) {
    
    .homepage-hero__heading--thai h2{
        font-size: 2rem !important;
    }
    
    .homepage-hero__background-image {
        height: 80vh;
    }
  
    .homepage-hero__form .elementor-field-group:not(.e-form__buttons)
      + .elementor-field-group:not(.e-form__buttons) {
          border-left: 1px solid rgba(255, 255, 255, 0.4);
          padding-left: 1rem;
          margin-left: 1rem;
    }
    
    .homepage-hero__form .e-form__buttons button {
        margin-top: 0.7rem;
    }
    
    .homepage-hero__form-container {
        padding: 0rem 1rem 0 1rem;
        width: 80%;
        bottom: 20%;
        row-gap: 1.5rem;
    }
    
    .homepage-hero__form .elementor-field-label {
      color: var(--bg-color) !important;
      padding: 0.7rem 0 0 0.8rem !important;
    }
}

.homepage-hero__form .elementor-message,
.homepage-hero__form .elementor-message-success,
.homepage-hero__form .elementor-message.elementor-message-success,
.homepage-hero__form .elementor-message.elementor-inline-message {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}