.plain-feature {
    width: 100%;
    padding: 0 1.4rem;
    row-gap: 64px;
}

.plain-feature__image {
    height: 13rem;
    align-self: flex-start;
    overflow: hidden;
    aspect-ratio: 12 / 9;
}

.plain-feature__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.plain-feature__image--reversed {
    align-self: flex-end;
    height: 13rem;
    max-width: 70vw !important;
    overflow: hidden;
}

.plain-feature__image--reversed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.plain-feature__content-container {
    max-width: 70%;
}

@media (min-width: 440px) {
    .plain-feature__image {
        height: 50vw;
        align-self: flex-start;
        overflow: hidden;
        aspect-ratio: 12 / 9;
    }
    
    .plain-feature__image--reversed {
        align-self: flex-end;
        height: 50vw;
        max-width: 70vw !important;
        overflow: hidden;
    }
}

@media (min-width: 800px) {
    
    .plain-feature  {
        padding: 0;
        padding-bottom: 5%;
        column-gap: 4%;
        flex-direction: row !important;
    }

    .plain-feature__image {
        height: 110%;
        width: 50vw !important;
        overflow: hidden;
    }
    
    .plain-feature__image img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plain-feature__image--reversed {
        align-self: flex-start;
        height: 60%;
        max-width: 90% !important;
        overflow: hidden;
    }
    
    .plain-feature__image--reversed img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
    
    .plain-feature__content-container {
        max-width: 100%;
        padding-left: 10% !important;
    }
    
    .plain-feature_content-block {
        padding-left: 10% !important;
        row-gap: 1rem;
        max-width: 80%;
    }
    
    .plain-feature_content-block p {
        max-width: 400px;
    }
}