.primary-collage__content-container {
    padding-inline: 12px;
}

.primary-collage__button {
    align-self: flex-end;
}

@media (min-width: 800px) {
    .primary-collage__content-container {
        max-width: 40vw;
        left: -8%;
        align-self: flex-end;
    }
}

/* primary collage HTML */

.primary-collage__grid {
    position: relative;
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 4 / 3;
    height: clamp(40vh, 50vw, 60vh);
}

.primary-collage__grid img {
    position: absolute;
    display: block;
    height: auto;
    object-fit: cover;
}

.primary-collage__grid .center {
    position: absolute;
    aspect-ratio: 4 / 3;
    background-color: var(--primary-color);
    width: 46vw !important;
    height: 70%;
    top: 12%;
    left: 24%;
    z-index: 1;
}
    
.primary-collage__grid .top-left {
    width: 40vw;
    height: 60%;
    top: 0;
    left: 6%;
    z-index: 2;
}
    
.primary-collage__grid .bottom-right {
    width: 40vw;
    height: 60%;
    bottom: 0;
    right: 6%;
    z-index: 2;
}

@media (min-width: 800px) {

    .primary-collage__grid {
        width: 76vw;
        margin: 0 auto;
        max-width: 1400px;
        height: 360px;
    }
    
    .primary-collage__grid .center {
      width: 38vw !important;
      max-height: 38vh;
      height: auto;
      top: -8%;
      left: 10%;
  }
    
    .primary-collage__grid .top-left {
        width: 32vw !important;
        max-width: 500px;
        max-height: 38vh;
        height: 34vw;
        top: -24%;
        left: 0%;
    }
    
    .primary-collage__grid .bottom-right {
        width: 28vw;
        max-width: 500px;
        max-height: 40vh;
        top: 14%;
        right: 12%;
        height: 30vw;
    }
}