/* three column feature */

.three-column-feature__column--first {

}

.three-column-feature__image--col1 {

}

.three-column-feature__column--second {

}

.three-column-feature__image--col2 {

}

.three-column-feature__content-container {

}

.three-column-feature__content-block {
    
}

.three-column-feature__title {

}

.three-column-feature__body {

}

/* button--radial */
.three-column-feature__button {

}

.three-column-feature__column--third {

}

.three-column-feature__image--col3 {

}

/* split feature */

.split-feature {

}

.split-feature__content-container {

}

.split-feature__title {

}

.split-feature__body {

}

.split-feature__button {

}

.split-feature__image-frame {

}

.split-feature__image {

}

.content-with-sidebar__content {
    gap: 0;
}

.centered-feature {
    gap: 0;
    padding-inline: 12px;
}

.centered-feature__html-grid {
    width: 80vw;
    padding: 1rem;
    max-height: 80vh;
    aspect-ratio: 4 / 3;
    overflow: visible;
    background-color: #eee;
    max-width: 440px;
    height: calc(14vw + (70vw * 3.5 / 4));
    max-height: 410px;
}

.centered-feature__html-grid img {
    position: absolute;
    display: block;
    height: auto;
    object-fit: cover;
}

.centered-feature__html-grid .centered-feature__frame {
    padding: 0.5rem 0 0 6%;
    position: absolute;
    width: 70vw;
    max-width: 380px !important;
    height: auto;

    aspect-ratio: 4 / 3;
    left: 0;
    z-index: 1;
    background-color: var(--primary-color);
    max-width: 480px;
}

.centered-feature__html-grid .centered-feature__image {
    width: 70vw;
    max-width: 380px !important;
    height: auto;
    aspect-ratio: 4 / 3;
    top: 30%;
    right: 0;
    z-index: 2;
}

.centered-feature__title {
    color: var(--txt-color);
}

.centered-feature__content-container {
    padding-top: 32px;
    max-width: 600px;
}

@media (min-width: 800px) {
    .centered-feature__content-container {
        padding-top: 62px;
    }
}
