.guestbook__review-container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.guestbook___review-wrapper {
    position: relative;
    width: 60%;
    max-width: 800px;
  }

.guestbook__review-body {
    background: var(--bg-color);
    padding: 2.4rem;
    text-align: center;
    z-index: 1;
    border: 1px solid var(--txt-color);
}

.guestbook__frame--secondary, .guestbook__frame--primary {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border: 1.5rem solid var(--bg-color);
}

.guestbook__frame--secondary {
    transform: translate(-1.6rem, -1.6rem);
}

.guestbook__frame--primary {
    transform: translate(+1.6rem, +1.6rem);

}