/* Homepage */

/* homepage hero */

.homepage-hero {
    max-width: 100vw !important;
}

.homepage-hero__background-image {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.homepage-hero__background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.homepage-hero__background-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.homepage-hero__heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    bottom: 36%;
}

.homepage-hero__form-container {
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    margin: 0 auto;
    width: 85%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 42px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    background: radial-gradient(circle at 20% 30%, rgba(255,255,255,0.05) 0%, transparent 80%),
              radial-gradient(circle at 80% 70%, rgba(0,0,0,0.35) 0%, transparent 80%);
              border: 1px solid rgba(255, 255, 255, 0.5);
}

.homepage-hero__form .elementor-form-fields-wrapper {
    gap: 0;
}

.homepage-hero__form .elementor-field-group {
    align-items: flex-start;
    flex: 1 1 auto;
    min-width: 0;

}

.homepage-hero__form .elementor-field-label {
    color: var(--bg-color) !important;
    padding: 0 0 0 0.8rem !important;
}

.homepage-hero__form .elementor-field {
    background-color: transparent !important;
    color: #fff !important;
    border: none;
}

.homepage-hero__form .elementor-field:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

.homepage-hero__form .e-form__buttons {
    flex: 0 0 auto;
    width: auto;
    margin: 0 !important;
}

.homepage-hero__form .e-form__buttons button {
    border-radius: 60px;
    padding: 1rem 1.4rem;
    margin: -1rem auto 1.4rem auto;
}

.elementor-field-group-arrival_date {
    padding-left: 0.4rem !important;
}

.elementor-field-group-departure_date {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(90%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media (max-width: 920px)  {
    
    .homepage-hero__heading {
        width: 70%;
        bottom: 58%;
    }
    
    .homepage-hero__form .elementor-form-fields-wrapper {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    
    .homepage-hero__form .elementor-field-label {
        font-size: 16px;
    }
    
    .homepage-hero__form .elementor-field-group-guests_number, .homepage-hero__form .e-form__buttons {
        grid-column: 1 / -1;
    }
    
    .elementor-field-group-guests_number {
        justify-self: center;
        width: 97%;
        margin: 0 !important;
    }
    
    .homepage-hero__form .elementor-field-group {
        padding-top: 1rem;
    }
    .homepage-hero__form .elementor-form-fields-wrapper {
        flex-direction: column !important;
    }
    
    .homepage-hero__form .elementor-field-group:not(.e-form__buttons) + .elementor-field-group:not(.e-form__buttons) + .elementor-field-group:not(.e-form__buttons) {
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin-left: 0;
        padding-left: 0;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    
    .elementor-field-group-departure_date, .elementor-field-group-arrival_date {
        margin-bottom: 0 !important;
    }
}


@media (min-width: 920px) {
    .homepage-hero__background-image {
        height: 80vh;
    }
  
    .homepage-hero__form .elementor-field-group:not(.e-form__buttons)
      + .elementor-field-group:not(.e-form__buttons) {
          border-left: 1px solid rgba(255, 255, 255, 0.4);
          padding-left: 1rem;
          margin-left: 1rem;
    }
    
    .homepage-hero__form .e-form__buttons button {
        margin-top: 0.7rem;
    }
    
    .homepage-hero__form-container {
        padding: 0rem 1rem 0 1rem;
        width: 80%;
        bottom: 20%;
        row-gap: 1.5rem;
    }
    
    .homepage-hero__form .elementor-field-label {
      color: var(--bg-color) !important;
      padding: 0.7rem 0 0 0.8rem !important;
    }
}

.homepage-hero__form .elementor-message,
.homepage-hero__form .elementor-message-success,
.homepage-hero__form .elementor-message.elementor-message-success,
.homepage-hero__form .elementor-message.elementor-inline-message {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Plain-feature */

.plain-feature {
    width: 100%;
    padding: 0 1.4rem;
    row-gap: 64px;
}

.plain-feature__image {
    height: 13rem;
    align-self: flex-start;
    overflow: hidden;
    aspect-ratio: 12 / 9;
}

.plain-feature__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.plain-feature__image--reversed {
    align-self: flex-end;
    height: 13rem;
    max-width: 70vw !important;
    overflow: hidden;
}

.plain-feature__image--reversed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.plain-feature__content-container {
    max-width: 70%;
}

@media (min-width: 440px) {
    .plain-feature__image {
        height: 50vw;
        align-self: flex-start;
        overflow: hidden;
        aspect-ratio: 12 / 9;
    }
    
    .plain-feature__image--reversed {
        align-self: flex-end;
        height: 50vw;
        max-width: 70vw !important;
        overflow: hidden;
    }
}


@media (min-width: 800px) {
    
    .plain-feature  {
        padding: 0;
        padding-bottom: 5%;
        column-gap: 4%;
        flex-direction: row !important;
    }

    .plain-feature__image {
        height: 110%;
        width: 50vw !important;
        overflow: hidden;
    }
    
    .plain-feature__image img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plain-feature__image--reversed {
        align-self: flex-start;
        height: 60%;
        max-width: 90% !important;
        overflow: hidden;
    }
    
    .plain-feature__image--reversed img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
    
    .plain-feature__content-container {
        max-width: 100%;
        padding-left: 10% !important;
    }
    
    .plain-feature_content-block {
        padding-left: 10% !important;
        row-gap: 1rem;
        max-width: 80%;
    }
    
    .plain-feature_content-block p {
        max-width: 400px;
    }
}

/* Single-framed feature */

.single-framed-feature {
    margin-top: 22rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.single-framed-feature__media-container {
    display: flex;
    width: 100%;
}

.single-framed-feature__image--background img {
    width: 100vw !important;
}

.single-framed-feature__lvl1-frame {
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    flex-direction: column;
    text-align: center;
    align-items: center !important;
    padding: 0.8rem 0.6rem 1.4rem 0.6rem;
    row-gap: 1.4rem;
}

.single-framed-feature__lvl2-frame {
   width: 60vw;
   max-width: 20rem;
    aspect-ratio: 4 / 5;
    padding: 0.6rem 0.6rem 1.8rem 0.6rem;
    box-sizing: border-box;
    overflow: hidden;
}

.single-framed-feature__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.single-framed-feature__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.single-framed-feature__content-block {
    padding: 1.4rem 1.4rem;
    justify-content: center;
}


@media (min-width: 800px) {
    
    .single-framed-feature {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .single-framed-feature__image--background img {
        height: 100%;
    }

    .single-framed-feature__lvl1-frame {
        position: absolute;
        left: 70%;
        transform: translateY(30%);
        width: fit-content;
        top: -23rem;
        text-align: left;
        padding: 2rem 7rem 2rem 1.3rem;
    }
    
    .single-framed-feature__lvl2-frame {
        width: clamp(14rem, 24vw, 25vw);
        max-width: none;
        row-gap: 2rem;
    }

    .single-framed-feature__content-block {
        width: 90%;
        padding-left: 4rem;
        justify-content: flex-end;
    }
    
    .single-framed-feature__body p {
        
        max-width: 450px;
    }
}

@media (min-width: 1180px) {
    
    .single-framed-feature__lvl1-frame {
        row-gap: 3vw;
    }
    
    .single-framed-feature__content-block {
        max-width: 60%;
        padding-bottom: 10%;
    }
}

/* double-feature */

.double-feature {
    row-gap: 0;
}

.double-feature__content-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    padding: 2rem 1rem 1rem 1rem;
    width: 13rem;
    height: 12rem;
    row-gap: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.double-feature__media-container--right {
    gap: 2rem;
    padding: 4rem 1.4rem 2rem 1.4rem;
}

.double-feature__media-container--left {
    gap: 2rem;
    padding: 1rem 1.4rem 2rem 1.4rem;
    align-items: center;
    order: 1;
}

.double-feature__media-container--left .elementor-widget-image, .double-feature__media-container--right .elementor-widget-image {
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.double-feature__media-container--right .elementor-widget-image img, .double-feature__media-container--left .elementor-widget-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 799px) {
    .double-feature {
        flex-wrap: wrap !important;
    }
    
    .double-feature__button--desktop, .double-feature__body--desktop {
        display: none;
    }
}

@media (min-width: 800px) {
    
    .double-feature {
        height: 90vh;
        gap: 0;
    }
    
    .double-feature__content-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -60px;
        width: 36%;
        height: 44%;
        width: auto;
        max-width: 22rem;
        height: auto;
        max-height: 22rem;
        row-gap: 1rem;
        justify-content: center;
        text-align: center;
        padding: 5% 2%;
    }
    
    .double-feature__media-container--right {
        padding: 0 13vw 10vh 0;
        height: fit-content;
    }
    
    .double-feature__media-container--right .elementor-widget-image {
        height: 80vh;
    }

    .double-feature__media-container--left {
        order: 0;
        padding: 0 0 22vh 13vw;
    }
    
    .double-feature__media-container--left .elementor-widget-image {
        height: 68vh;
    }
    
    .double-feature__button--desktop {
        margin-top: 1.5rem;
    }
    
    .double-feature__button--thai {
        margin-top: 0.5rem !important;
    }
    
    .double-feature__button--mobile {
        display: none;
    }
    .double-feature__body--mobile {
        display: none;
    }
}

/* highlight-quote */

.highlight-quote {
    align-self: center;
    width: 70%;
    max-width: 68rem;
}

.highlight-quote__body {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto  !important;
}

@media (min-width: 800px) {
    
    .highlight-quote__body p {
        text-indent: 8rem;
        text-align: left;
    }
}

@media (min-width: 1180px) {
    
    .highlight-quote {
        width: 100vw;
        margin: 0 auto;
    }
    
    .highlight-quote__body p {
        text-indent: 10rem;
        font-size: 1.25rem;
        line-height: 1.5em;
        padding: 2em 4em;
        max-width: 1300px;
    }
}